*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e1e1fd;
  font-family: 'kanit', sans-serif;
}

h1{
  color: #7BCDBA;
}
h2 {
  color: #d6a0f8;
}

#profile-pic {
  width: 15rem;
  border-radius: 50%;
}

.intro {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding-top: 10rem;
}
.intro > * {
  flex: 1 1 50%;
}
.greeting-div {
  text-align: end;
}
.content p{
  text-align: center;
  margin: 2rem;
  padding: 0 10%
}
.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.links ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
}
.links a {
  text-decoration: none;
  color: #7BCDBA;
}

@media (max-width: 600px) {
  #profile-pic {
    width: 10rem;
  }
  .intro{
    display: flex;
    flex-direction: column;
    align-items: center;  /* center both the greeting and the pic */
    gap: 1rem;
  }
}
