*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e1e1fd;
  font-family: 'kanit', sans-serif;
  color: #7f80ac;
}

h1 {
  color: #6eb5a5;
}
h2 {
  color: #BD93D8;
}

#profile-pic {
  width: 15rem;
  border-radius: 50%;
}

.profile-section {
  position: relative;
  text-align: center;
}

.card-wrapper {
  display: inline-block;
  margin: 5rem auto;
  padding: 1.5rem;
  border-radius: 8px;
  background: #cfcff0;
  box-shadow: -6px 10px 42px -11px rgba(151,153,202,1);
  position: relative;
}

.intro {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  gap: 5rem;
}
.intro > * {
  flex: 1 1 50%;
  min-width: 0;
}
.greeting-div {
  text-align: end;
}

.content p {
  text-align: center;
  margin: 2rem auto;
  padding: 0 1rem;
  width: 90%;
  max-width: 50rem;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.links ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.links a {
  text-decoration: none;
  color: #6eb5a5;
  font-size: 1.5rem;
}

@media (max-width: 850px) {
  .card-wrapper {
    display: block;
    width: 100%;
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  #profile-pic {
    width: 10rem;
    height: auto;
  }
  .intro {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.custom-shape-divider-bottom-1745246096 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1745246096 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
}
.custom-shape-divider-bottom-1745246096 .shape-fill {
  fill: #9799CA;
}
